.plan {
  padding-top: 218px;
  padding-bottom: 205px;
}

.plan__title {
  font-size: 43px;
  font-weight: 800;
  line-height: 54px;
  text-align: center;
  color: #f9f9f9;
  margin-bottom: 8px;
}
.plan__text {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  text-align: center;
  color: #c0c0c0;
  margin-bottom: 26px;
}
.plan-link {
  margin-left: 550px;
  margin-bottom: 24px;
}
.plan__content_block {
  max-width: 380px;
}
.content__plan {
  max-width: 290px;
  margin-bottom: 102px;
  margin-top: 41px;
  margin-left: 45px;
  margin-right: 45px;
}
.plan__img {
  margin-bottom: 27px;
}
.title__plan {
  font-size: 27px;
  font-weight: 800;
  line-height: 38px;
  color: #f9f9f9;
  max-width: 126px;
  margin-bottom: 16px;
}
.title__plan2 {
  font-size: 27px;
  font-weight: 800;
  line-height: 38px;
  color: #f9f9f9;
  max-width: 126px;
  margin-bottom: 16px;
}
.title__plan3 {
  font-size: 27px;
  font-weight: 800;
  line-height: 38px;
  color: #f9f9f9;
  max-width: 190px;
  margin-bottom: 16px;
}

.plan__span {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: #ececec;
}
.text__plan {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.20000000298023224px;
  color: #c0c0c0;
  max-width: 249px;
  margin-left: 26px;
  margin-right: 14px;
}
.plan__link_block {
  max-width: 290px;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 41px;
}
.plan__link {
  margin-bottom: 16px;
}
.link__plan {
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  color: #f9f9f9;
  padding: 18px 109px 16px 110px;
  background-color: #0063e5;
  border-radius: 4px;
}
.plan__content_block {
  border: 2px solid rgb(233, 233, 233);
  margin-bottom: 15px;
}
.plan__block {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 24px;
}
.tekst_plan {
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.20000000298023224px;
  color: #c0c0c0;
  max-width: 225px;
  margin-left: 550px;
  text-align: center;

 
}
.span__plan {
  color: #fff;

}
