.watch{
  padding-bottom: 80px;
}

.watch__content_block{
  display: flex;
  justify-content: space-between;
}

.watch__title{
font-size: 38px;
font-weight: 800;
line-height: 50px;
color: #F9F9F9;
margin-bottom: 24px;
}
.watch__text1{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  color: #C0C0C0;
  margin-bottom: 35px;

}
.watch__text2{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  color: #C0C0C0;
  margin-bottom: 20px;
}

.watch__text3{
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.20000000298023224px;
  color: #C0C0C0;
  margin-bottom: 20px;
}

.watch__content{
  max-width: 548px;
}